<%- include('partials/header') %>


<section class="card">
<h2>Witaj w TaskManagerze</h2>
<p>Aplikacja umożliwi ci dodawanie, edycję oraz usuwanie zadań oraz odchaczanie tych już zrobionych. <br>
Zaloguj się lub zarejestruj, jeżeli jesteś tu po raz pierwszy</p>
<a class="btn" href="/tasks">Przejdź do zadań</a>
</section>


<%- include('partials/footer') %>