<%- include('../partials/header') %>

<main>
<h2>Edytuj zadanie</h2>

<form method="POST" action="/tasks/edit/<%= task.id %>">
    <input type="text" name="title" value="<%= task.title %>" required>
    <button type="submit">Zapisz</button>
</form>
</main>



<%- include('../partials/footer') %>